//abhipersonal.euw-3.palantirfoundry.co.uk/artifacts/api/:_authToken=${FOUNDRY_TOKEN}
registry=https://abhipersonal.euw-3.palantirfoundry.co.uk/artifacts/api/repositories/ri.stemma.main.repository.6bc98616-3147-4c91-9d05-6a3b8e838b87/contents/release/npm/
omit-lockfile-registry-resolved=true
